@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/assets/mr_robot_logo.webp")" />
    <link rel="stylesheet" href="@Url.Content("~/css/dashboard.css")" />
   <link rel="stylesheet" href="@Url.Content("~/css/navbar.css")" />
   <link rel="stylesheet" href="@Url.Content("~/css/admin.css")" />

	<script defer src="@Url.Content("~/js/alert.js")"></script>
	<script defer src="@Url.Content("~/js/modalPopAdmin.js")"></script>
</head>
<body class="background-image">

	<header class="header-nav">
		<a href="@Url.Action("Index", "Home")" class="logo">
			<img src="@Url.Content("~/assets/mr_robot_logo.webp")" alt="Mr. Robot Logo" />
		</a>

		<nav class="navbar">
			<a href="@Url.Action("Index", "Home")" class="nav-link">
				<i class="nav-icon">
					<img src="@Url.Content("~/assets/boxicons/bx-home-heart.svg")" alt="home icon" />
				</i>
				Home
			</a>
			@if (User.IsInRole("Admin"))
			{
				<a href="@Url.Action("index", "Admin")" class="nav-link">
					<i class="nav-icon">
						<img src="@Url.Content("~/assets/boxicons/dashboard-solid-24.svg")" alt="dashboard icon" />
					</i>
					Admin Manage
				</a>
			}


			<a href="@Url.Page("/Account/Manage/Index", new { area = "Identity" })" class="nav-link">
				<i class="nav-icon">
					<img src="@Url.Content("~/assets/boxicons/bx-cog.svg")" alt="settings icon" />
				</i>
				Settings
			</a>


		</nav>
		<partial name="_LoginPartial" />
	</header>

<div class="admin-title">
	<h1>Admin Control Panel</h1>
</div>


	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}

	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">@TempData["SuccessMessage"]</div>
	}

<div class="admin-card-container">
	<div class="admin-card">
		<a href="@Url.Action("Manage", "Inventory")">Manage Products</a>
	</div>
	<div class="admin-card">
		<a href="@Url.Action("Manage", "Feature")">Manage Features</a>
	</div>
	<div class="admin-card">
			<a href="@Url.Action("SoldProducts", "Order")">Total Revenue</a>
	</div>
	<div class="admin-card" onclick="openReindexModal()">
			<span>Reindex Lucene</span>
	</div>
</div>

	<div id="reindexModal" class="modal-overlay" style="display:none;">
		<div class="modal-box">
			<h2>Confirmare</h2>
			<p>Refaci indexul pentru toate produsele?</p>
			<div class="modal-actions">
				<form method="post" asp-action="ReindexLucene">
					<button type="submit" class="modal-btn confirm">Da, reindexează</button>
				</form>
				<button class="modal-btn cancel" onclick="closeReindexModal()">Anulează</button>
			</div>
		</div>
	</div>




</body>
</html>
