<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
   <a class="navbar-brand" href="@Url.Action("Index", "Home")">Mister Robot Shop</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Inventory")">Browse Inventory</a>
         </li>
         @if (ViewBag.IsAuthenticated != null && (bool)ViewBag.IsAuthenticated)
         {
            <li class="nav-item">
               <a class="nav-link" href="@Url.Action("Index", "Account", new { area = "Identity" })">My Account</a>
            </li>
            @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
            {
               <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("Manage", "Inventory")">Manage Inventory</a>
               </li>
            }
         }
         else
         {
            <li class="nav-item">
               <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="@Url.Action("Register", "Home")">Register</a>
            </li>
         }
      </ul>
   </div>
</nav>
