@model IEnumerable<RobotShop.Models.Feature>
@inject RobotShop.Services.Interfaces.IProductCategoryService _categoryService
@{
	ViewData["Title"] = "Manage Features";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="icon" type="image/png" href=" @Url.Content("~/assets/mr_robot_logo.webp")" />
	<link rel="stylesheet" href="@Url.Content("~/css/navbar.css")" />
	<link rel="stylesheet" href="@Url.Content("~/css/feature.css")" />
</head>

<body class="background-image">
	<header class="header-nav">
		<a href="@Url.Action("Index", "Home")" class="logo">
			<img src="@Url.Content("~/assets/mr_robot_logo.webp")" alt="Mr. Robot Logo" />
		</a>

		<nav class="navbar">
			<a href="@Url.Action("Index", "Home")" class="nav-link">
				<i class="nav-icon">
					<img src="@Url.Content("~/assets/boxicons/bx-home-heart.svg")" alt="home icon" />
				</i>
				Home
			</a>

			@if (User.IsInRole("Admin"))
			{
				<a href="@Url.Action("Index", "Admin")" class="nav-link">
					<i class="nav-icon">
						<img src="@Url.Content("~/assets/boxicons/dashboard-solid-24.svg")" alt="contact icon" />
					</i>
					Admin Manage
				</a>
			}
			<a href="@Url.Page("/Account/Manage/Index", new { area = "Identity" })" class="nav-link">
				<i class="nav-icon">
					<img src="@Url.Content("~/assets/boxicons/bx-cog.svg")" alt="settings icon" />
				</i>
				Settings
			</a>

		</nav>
		<partial name="_LoginPartial" />
	</header>

	<div class="manage-box">
		<div class="dashboard container">
			<div class="dashboard-header">
				<h1>Feature Management Dashboard</h1>
				<a href="@Url.Action("AddFeature", "Feature")" class="btn-add-feature">Add New Feature</a>
			</div>

			<!-- Table -->
			<div class="table-responsive">
				<table class="dashboard-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Category</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>

					@foreach (var feature in Model)
					{
						var category = _categoryService.GetById(feature.ProductCategoryId)?.Name ?? "Unknown";
						<tr>
							<td>@feature.FeatureId</td>
							<td>@feature.Name</td>
							<td>@category</td>
							<td>
								@* <a href="@Url.Action("EditFeature", "Feature", new { id = feature.FeatureId })" class="btn-edit">Edit</a> *@
								<form asp-action="Delete" asp-controller="Feature" method="post" class="inline-form">
									<input type="hidden" name="id" value="@feature.FeatureId"/>
									<button type="submit" class="btn-delete">Delete</button>
								</form>
							</td>
						</tr>
					}
					</tbody>
				</table>
			</div>

			@if (!Model.Any())
			{
				<div class="no-features-found">
					<i class="bx bx-error"></i>
					<p>No features found in the system.</p>
				</div>
			}
		</div>
	</div>
</body>
</html>
